<h1 class="page-header">{{section.title}}</h1>
<div class="page-content">
  <div class="tile-group">
    <div class="tile-col">
      <ngb-carousel style="height: 100%;" class="learn tile">
        <ng-template ngbSlide *ngFor="let tab of tabs">
          <h3 class="tile-header">{{tab.title}}</h3>
          <!--use function above to create list-->
          <ul>
            <li *ngFor = "let point of tab.info">{{point}}</li>
          </ul>
        </ng-template>
      </ngb-carousel>
    </div>
    <div class="tile-col">
      <button class="tile" [routerLink]="['/quiz']">
        <h3 class="tile-header">Quiz</h3>
        <p>Take a quick quiz to test your knowledge of the topic!</p>
      </button>
      <button class="tile" [routerLink]="['/resource']">
        <h3 class="tile-header">Resources</h3>
        <p>More information to digest!</p>
      </button>
    </div>
  </div>
  <button class="home-button" [routerLink]="['']" (click)="deselectSection();">Return Home</button>
</div>



