
<h1 class="page-header">{{section.title}}</h1>
<div class="page-content">
  <div class="tile-group">
    <div class="tile-col">
      <button class="tile" style="height: 100%;" [routerLink]="['/section']">
        <h3 class="tile-header">Learn</h3>
        <p>{{section.learnInfo}}</p>
      </button>
    </div>
    <div class="tile-col">
      <button class="tile" [routerLink]="['/section']" *ngFor="let activity of activities">
        <h3 class="tile-header">{{activity.title}}</h3>
        <p>{{activity.info}}</p>
      </button>
    </div>
  </div>
  <button class="home-button" [routerLink]="['']" (click)="deselectSection();">Return Home</button>
</div>



