<h1 class="page-header">{{section.title}} Resources</h1>
<div class="page-content">
  <button class="home-button" [routerLink]="['/section']">{{section.title}} Home</button>
  <form>
    <div class="tile-group">
      <div class="quiz">
        <div class="question" *ngFor="let content of resource">
            <ul class = "list-group">
              <li><a target="_blank" rel="noopener noreferrer" href={{content.article_link}} style="font-size: 50px">{{content.article_description}}</a></li>
              <li><a target="_blank" rel="noopener noreferrer" href={{content.video_link}} style="font-size: 50px">Video: {{content.video_description}}</a></li>
            </ul>
        </div>
      </div>
    </div>
  </form>
</div>